In [7]:
arr=[1,2,3,2,2,2,2,3,3,2,1,1,2,1,1,1,1,1,1,111,1,1,1,11,1,1,1,1,1,12,2,2,2]
counter=0
for i in range(len(arr)):
    cun_fre=arr.count(i)
    if cun_fre > counter:
        counter=cun_fre
        num = i
print(num)

1

In [16]:
arr=[1,2,3,2,2,2,2,3,3,2,1,1,2,1,1,1,1,1,1,111,1,1,1,11,1,1,1,1,1,12,2,2,2]
ans=max(set(arr),key=arr.count)
print(arr.count(1))
print(ans)

17
1

In [30]:
arr= ['Rose','Lily', 'Lotus', 'Sun', 'Sunflower']
# arr.remove('Rose')
# arr.pop(1)
# arr=set(arr)
# arr.discard('Lotus')
# arr=list(arr)
# del arr[4]
# arr=arr[:2]+arr[4:]
print(arr)

['Rose', 'Lily', 'Sunflower']

In [33]:
arr= ['Rose','Lily', 'Lotus', 'Sun', 'Sunflower']
arr1=['aaa','aads','cfd','asde','rtw']
print(arr+arr1)
arr.extend(arr1)
print(arr)
for a,b in zip(arr,arr1):
    print(a+b,end=" ")

['Rose', 'Lily', 'Lotus', 'Sun', 'Sunflower', 'aaa', 'aads', 'cfd', 'asde', 'rtw']
['Rose', 'Lily', 'Lotus', 'Sun', 'Sunflower', 'aaa', 'aads', 'cfd', 'asde', 'rtw']
Roseaaa Lilyaads Lotuscfd Sunasde Sunflowerrtw

In [35]:
arr= [[4, 3, 5,], [1, 2, 3], [3, 7, 4]]
arr1= [[1, 3], [9, 3, 5, 7], [8]]
for a,b in zip(arr,arr1):
    print(a+b,end=" ")

[4, 3, 5, 1, 3] [1, 2, 3, 9, 3, 5, 7] [3, 7, 4, 8]

Input : test_list1 = [“gfg”, “is”, “best”], test_list2 = [“love”, “CS”] 


Output : [‘gfg love’, ‘gfg CS’, ‘is love’, ‘is CS’, ‘best love’, ‘best CS’]

In [37]:
test_list1 = ['gfg', 'is', 'best']
test_list2 = ['love', 'CS'] 
new_list=[]
for i in range(len(test_list1)):
    for j in range(len(test_list2)):
        a=test_list1[i]+" "+test_list2[j]
        new_list.append(a)
        
print(new_list)

['gfg love', 'gfg CS', 'is love', 'is CS', 'best love', 'best CS']

Input:  ['hello', 'geek', 'have', 'a', 'geeky', 'day']

Output: hello geek have a geeky day

In [39]:
arr=['hello', 'geek', 'have', 'a', 'geeky', 'day']
s=" ".join(a for a in arr)
print(s)

hello geek have a geeky day

In [46]:
lst = ["rohan", "amy","amy","amy","amy", "sapna","sapna","sapna","sapna","sapna","sapna","sapna","sapna", "muhammad", 
       "aakash", "raunak", "chinmoy"]
print(sorted(lst))
print(sorted(lst,key=len))
print(sorted(lst,key=len,reverse=True))
print(sorted(lst,key=lst.count,reverse=True))

['aakash', 'amy', 'amy', 'amy', 'amy', 'chinmoy', 'muhammad', 'raunak', 'rohan', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna']
['amy', 'amy', 'amy', 'amy', 'rohan', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'aakash', 'raunak', 'chinmoy', 'muhammad']
['muhammad', 'chinmoy', 'aakash', 'raunak', 'rohan', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'amy', 'amy', 'amy', 'amy']
['sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'sapna', 'amy', 'amy', 'amy', 'amy', 'rohan', 'muhammad', 'aakash', 'raunak', 'chinmoy']

In [8]:
n=11
for i in range(n):
    for j in range(i):
        print(j, end=" ")
    print("\n")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

0 1 2 3 4 5

0 1 2 3 4 5 6

0 1 2 3 4 5 6 7

0 1 2 3 4 5 6 7 8

0 1 2 3 4 5 6 7 8 9

In [14]:
n=5
for i in range(n+1):
    for j in range(i):
        print("*", end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [25]:
n=5
for i in range(n+1):
    for j in range(i):
        print("*", end=" ")
    print("\n")
for i in range(n+1,0,-1):
    for j in range(i):
        print("*", end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [47]:
n=5
for i in range(1,n+1):
    s=n-i
    print("*"*i,s,end="")
    print("\n")

* 4

** 3

*** 2

**** 1

***** 0

In [60]:
for i in range(1,20,2):
    for j in range(1,i,2):
        print(j, end=" ")
    print("\n")

1

1 3

1 3 5

1 3 5 7

1 3 5 7 9

1 3 5 7 9 11

1 3 5 7 9 11 13

1 3 5 7 9 11 13 15

1 3 5 7 9 11 13 15 17